{% extends 'dashboard/base.html' %}

{% block content %}

        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          
          <!-- /top tiles -->
          <div class="row tile_count">
          <div id="sticky-anchor"></div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Cases</span>
              <div class="count">25</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-clock-o"></i> Solved Cases</span>
              <div class="count green">18</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Pending Cases</span>
              <div class="count red">7</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Males</span>
              <div class="count">13</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Females</span>
              <div class="count">8</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Total Children</span>
              <div class="count">4</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
               <div class="x_panel">
                  <div class="x_title">
                    <h4>Manage Patients</h4>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_title">
                          <div class="clearfix"></div>
                        </div>
                        <ul class="list-unstyled">
                          <li class="media event">
                            <div class="media-body">
                              <a class="title">Create New Patient Case</a>
                              <p>Create new case for new patients
                              </p>
                              <a href="/createcase"><span class="btn btn-primary pull-right">Create Case</span></a>
                            </div>
                          </li>
                          <li class="media event">
                            <div class="media-body">
                              <a class="title">Open Existing Patient's Case</a>
                              <p>Open existing case based on the patient ID
                                <form class="form-horizontal form-label-left">
                                {% if error_message %}
                                    <p><strong><i class="red">{{ error_message }}</i></strong></p>
                                {%endif%}
                                  <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Patient ID</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                      <form method="POST">
                                      </form>
                                    <form method="POST" class="opencase-form">{% csrf_token %}
                                    <div class="col-md-7 col-sm-7 col-xs-12">
                          {{ form2.as_p }}
                          </div>
                          <div class="col-md-5 col-sm-5 col-xs-12">
                          <button class="btn btn-primary pull-right" type="submit" name="opencase">Open Case</button> 
                          </div>
                          </form>
                                    </div>
                                  </div>

                                </form>
                              </div>
                            </li>
                          <hr>
                          <li class="media event">
                            <div class="media-body">
                              <a class="title">View all patients</a>
                              <p>View list of all the patients and respective cases
                              </p>
                              <span class="btn btn-primary pull-right">View Patients</span>
                            </div>
                          </li>
                        </ul>
                      </div>

            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                 <div class="x_panel">
                  <div class="x_title">
                    <h4>Manage Subscriptions</h4>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_title">
                          <div class="clearfix"></div>
                        </div>
                        <ul class="list-unstyled">
                          <li class="media event">
                            <div class="media-body">
                              <a class="title">General Examination Package</a>
                              <p>Description of package
                              </p>
                            </div>
                          </li>
                          <hr>
                          <li class="media event">
                            <div class="media-body">
                              <a class="title">Endocrine Package</a>
                              <p>Description of package
                              </p>
                            </div>
                          </li>
                          <hr>
                          <span class="btn btn-primary pull-right">Add Subscription</span>
                        </ul>
                      </div>
                </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                      <h4>To Do List</h4>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">

                      <div class="">
                        <ul class="to_do">
                        {% for post in posts %}
                          <li>
                            <p>
                              <input type="checkbox" class="flat"> {{ post.toDoPost }} </p>
                          </li>
                        {% endfor %}
                          <br>
                          <form method="POST" class="todo-form">
                          {% csrf_token %}
                          {{ form1.as_p }}
                          <button class="btn btn-primary pull-right" type="submit" name="todolist">Add</button> 
                          </form>

<!-- 
                          <form id="todo_form" method="POST">
                          {% csrf_token %}
                          <textarea id="toDoMessage" required="required" class="form-control" name="toDoMessage" data-parsley-trigger="keyup" data-parsley-validation-threshold="10"></textarea>
                          <br>
                          
                          </form>
 -->

                        </ul>
                      </div>
                    </div>
                  </div>

            </div>

          </div>
          </div>

    

        <!-- /page content -->


{% endblock %}