{% extends 'dashboard/base.html' %}

{% block content %}
        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          
          <!-- /top tiles -->
          <div class="row">
          <div id="sticky-anchor"></div>

            <div class="col-md-12 col-sm-6 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h4><i class="fa fa-stethoscope "></i> Create New Case</h4>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <div class="col-xs-12">
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div class="tab-pane active" id="new">
                          

                <div class="x_panel">
                  <div class="x_content">
                    <br />
                    <!-- <form action="/diagnose/" method="post">
                      
                      {{form.as_p}}
                      <input type="submit" value="Register" />
                    </form> -->
                    <form class="form-horizontal form-label-left" method="POST">
                    {% csrf_token %}

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Patient ID</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <input type="text" class="form-control" value="{{patientId}}" readonly>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.Gender}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Age</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                        {{form.Age}}
                          <!-- <select class="form-control">
                            <option>0-2 years</option>
                            <option>3-6 years</option>
                            <option>7-12 years</option>
                            <option>13-17 years</option>
                            <option selected="selected">18-24 years</option>
                            <option>25-34 years</option>
                            <option>35-44 years</option>
                            <option>45-54 years</option>
                            <option>55-64 years</option>
                            <option>65 years and above</option>
                          </select> -->
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Pulse</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          {{form.Pulse}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Blood Pressure</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          {{form.BloodP}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Respiration Rate</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          {{form.RespirationR}}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Height</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          {{form.Height}}{{form.HeightUnits}}
                        </div>
                        <!-- <div class="col-md-7 col-sm-7 col-xs-7">
                        {{form.HeightUnits}}
                        </div> -->
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Weight</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          {{form.Weight}}{{form.WeightUnits}}
                        </div>
                        <!-- <div class="col-md-7 col-sm-7 col-xs-7">
                        {{form.WeightUnits}}
                        </div> -->
                      </div>
                      <!-- <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">BMI</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          {{form.BMI}}
                        </div>
                      </div> -->
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Pallor</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.Pallor}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Icterus</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.Icterus}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Cyanosis</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.Cyanosis}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Clubbing</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.Clubbing}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lymphadenopathy</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.Lymphadenopathy}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Thyroid Enlargement</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.ThyroidE}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Peripheral Pulses</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.PeripheralP}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">C sign</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.Csign}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">T sign</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.Tsign}}
                      </p>
                      </div>
                      </div><div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Petechiae</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.Petechiae}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Purpura</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.Purpura}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Acanthosis</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.Acanthosis}}
                      </p>
                      </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Skin Tags</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                      <p>
                        {{form.SkinTags}}
                      </p>
                      </div>
                      </div>
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                          <button type="submit" class="btn btn-primary">Cancel</button>
                          <button type="submit" class="btn btn-success">Diagnose</button>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>




                        </div>
                      </div>
                    </div>

                    <div class="clearfix"></div>

                  </div>
                </div>
                </div>

          </div>
          </div>

    

        <!-- /page content -->

{% endblock %}